.inter-font > {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.open-sans-font > {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Open Sans;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Open Sans;
  padding: 20px 5%;
  width: 100%;
  background-color: #081b29;
}
body {
  background-color: #081b29;
}
.logo {
  font-family: Inter;
  font-size: 1.25rem;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
nav > a {
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  padding: 20px 5%;
}
.Milad {
  border-radius: 50%;
  width: 300px;
}

.maintext h1 {
  font-family: Inter;
  font-size: 50px;
  font-weight: 600;
}

.maintext h2 {
  font-size: 40px;
  color: #00abf0;
}
.maintext p {
  font-size: 24px;
  margin: 20px 0 40px;
}
.btn {
  width: 345px;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
}
.btn a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 150px;
  height: 100%;
  background-color: #00abf0;
  align-items: center;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 700;
  color: #081b29;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.btn a:nth-child(2) {
  background-color: transparent;
  color: #00abf0;
}
.btn a:nth-child(2)::before {
  background-color: #00abf0;
}
.btn a:nth-child(2):hover {
  color: #081b29;
}
.btn a:hover {
  color: #00abf0;
}

.btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #081b29;
  transition: 0.5s;
  z-index: -1;
}

.btn a:hover::before {
  width: 100%;
}

.skills {
  width: 150px;
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 25px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}
.skills a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00abf0;
  transition: 0.5s;
  z-index: -1;
}
.skills a:hover::before {
  width: 100%;
}
.bxl-html5 {
  color: #e34c26;
}
.bxl-css3 {
  color: #2965f1;
}
.bxl-bootstrap {
  color: #563d7c;
}
#projects h3 {
  font-size: 30px;
  color: #00abf0;
  margin-bottom: 20px;
  margin-top: 90px;
  margin-bottom: 40px;
  font-family: Inter;
  text-align: center;
}
#projects {
  padding: 20px 5%;
  width: 100%;
}

.project_items img {
  height: 200px;
  width: 350px;
  margin-right: 10px;
  border-radius: 10px;
}

.project_items {
  display: flex;
  justify-content: space-around;
}

.project_items h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .project_items img {
    height: 150px;
    width: 250px;
  }

  .container {
    justify-content: space-between;
  }
  .project_items {
    justify-content: space-between;
  }
  #projects h3 {
    text-align: left;
  }
}
@media (max-width: 840px) {
  .project_items img {
    height: 125px;
    width: 225px;
  }
  #projects h3 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .Milad {
    width: 260px;
  }
  .maintext h1 {
    font-size: 38px;
  }
  .maintext h3 {
    font-size: 20px;
  }
  .maintext p {
    font-size: 16px;
  }
  .skills {
    top: 85px;
  }
  .btn {
    width: 270px;
  }
  .btn a {
    font-size: 16px;
    width: 120px;
    height: 90%;
  }
  .project_items img {
    height: 100px;
    width: 200px;
  }
}

/* @media (max-width: 670px) {
  .project_items img {
    height: 100px;
    width: 170px;
  }
  .project_items h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
} */

@media (max-width: 670px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .Milad {
    order: -1;
    width: 220px;
    margin-bottom: 20px;
  }
  nav > a {
    font-size: 15px;
  }
  .maintext h1 {
    font-size: 35px;
  }
  .maintext h2 {
    font-size: 30px;
  }
  .maintext h3 {
    font-size: 20px;
  }
  .maintext p {
    font-size: 16px;
  }

  .skills {
    width: 250px;
    align-items: center;
    justify-content: space-around;
    top: 25px;
  }
  .Projects {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
  }
  .project_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .project_items img {
    height: 180px;
    width: 280px;
  }
}
